.production__wrapper {
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom: 59px;
}

.production__title {
  display: flex;
  align-items: center;

  padding-left: 28px;
  padding-right: 28px;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  border: 1px solid #ededed;
  border-bottom: none;
}

.production__icon {
  display: block;
  width: 32px;
  height: 22px;

  margin-right: 24px;

  

  flex-shrink: 0;
}

.production__bottom {

  padding-left: 28px;
  padding-right: 28px;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;

  border: 1px solid #ededed;

}

.production__text {

font-size: 13px;
line-height: 24px;

margin: 0;
margin-bottom: 26px;

}

.production__item:hover {

  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);

}

.production__item:active {

  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);

}

@media (min-width: $tablet-width) {

.production__item {
  display: flex;
  flex-direction: column;
}

.production__title {
  border-bottom: none;
  padding-bottom: 0;

  font-size: 20px;
  line-height: 24px;
}

.production__bottom {
  border-top: none;
}

.production__text {
  font-size: 15px;
  line-height: 30px;
}

.production__video {
  order: -1;
}

}

@media (min-width: $desktop-width) {

  .production__wrapper {
    padding-left: 12%;
    padding-right: 12%;
  }

.production__item {
position: relative;
height: 398px;
}

.production__title,
.production__bottom {
  padding-left: calc(58% + 50px);
  padding-right: 50px;
  flex-grow: 1;
}

.production__title {
  flex-direction: column;
  align-items:flex-start;
}

.production__icon {
  margin-right: 0;
  margin-bottom: 24px;
}

.production__video {
  position: absolute;
  width: 64%;
  height: 398px;
}

}
