.product-card__image {
display: block;

  width: 100%;
  height: auto;
}

.product-card {
  margin-bottom: 30px;
}

.product-card:hover .product-card__info {

  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);

}

.product-card:active .product-card__info {

  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);

}

.product-card__info {
  padding: 27px 10%;
  height: 179px;
  box-sizing: border-box;

  border: 1px solid #ededed;

  &:hover {
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);
  }

}

.product-card__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  margin: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

}



.product-card__options {
  font-size: 13px;
  line-height: 30px;
  color: #444444;

  padding-bottom: 19px;
  margin: 0;

}

.product-card__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;

  border-top: 1px solid #ededed;
}

.product-card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;

  margin: 0;
}

.product-card__icon {
  opacity: 0.2;

  &:hover {
    opacity: 1;
    fill: #62d1ba;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {

.product-card {
  display: flex;
}

.product-card__info {
  height: auto;
  padding: 27px 33px;
  flex-basis: 50%;

  display: flex;
  flex-direction: column;
}



.product-card__description {
  flex-grow: 1;
}

.product-card__link {
  flex-basis: 50%;
}

.product-card__title {
  font-size: 20px;
  line-height: 24px;
}

.product-card__options {
  font-size: 15px;
  line-height: 30px;
}

.product-card__price {
  font-size: 17px;
  line-height: 24px;
}
}

@media (min-width: $desktop-width) {

  .product-card {
    flex-direction: column;
    margin-bottom: 0;
  }

  .product-card__info {
    height: 197px;

  }

}
