@media (min-width:$tablet-width) {
  .site-list {
    // color: #4d568a;
    order: 1;
    display: flex;

    background-color: transparent;
    border: none;

    position: absolute;
    bottom: -35px;
    z-index: 10;
  }

  .site-list__item {
    margin-right: 34px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    position: static;
    order: -1;
    width: 36%;
    bottom: 0;
    color: #ffffff;
    align-items: center;

  }

  .site-list__item {
    // margin: 0;
    min-width: 116px;


  }
}
