.user-list__item {
position: relative;

&:hover .user-list__icon  {

  fill: #63d1bb;
  opacity: 1;

}

&:active .user-list__icon  {

  fill: #63d1bb;
  opacity: 0.3;

}

}
.user-list__icon {
  width: 19px;
  height: 19px;

  position: absolute;
  top: 28px;
  left: 12%;

  transform: scale(1.2);
  fill: #d3d2d2;

}
@media (min-width:$tablet-width) {
.user-list__item--search {
  display: none;
}

  .user-list {
    position: relative;
    display: flex;
    height: 100%;



  }

  .user-list__item {
    height: 112px;

    border: none;

    display: flex;
    justify-content: center;
    align-items:center;



  }

  .user-list__item--search {
    width: 85px;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;;
  }

  .user-list__item--cart {
    box-sizing: border-box;

   width: 264px;
   display: flex;
   justify-content: space-around;
  //  padding-left: 30px;
  //  padding-right: 30px;


  }

  .user-list__icon {
    // top: calc(50% - 19px);
    position: static;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 36%;
  }

  .user-list__item--cart {

// justify-content: space-around;
  


  }
}
